@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h3 class="card-header">Users</h3>
    <div class="row">
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Search for text..." />
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-primary">Search</button>
        </div>
        <div class="col-md-2 mb-3 justify-content-end">
            <select class="form-select" aria-label="Status">
                <option selected>All Status</option>
                <option value="1">Active</option>
                <option value="2">Passive</option>
            </select>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-3">Name</th>
                    <th class="col-3">User Type</th>
                    <th class="col-3">Status</th>
                    <th class="col-3">Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr>
                    <td><strong>Cem Kara</strong></td>
                    <td>Admin</td>
                    <td><span class="badge bg-label-success me-1">Active</span></td>
                    <td>
                        <a href="/User/Details" type="button" class="btn btn-sm rounded-pill btn-outline-primary">Details</a>
                        <a href="/User/Hotels" type="button" class="btn btn-sm rounded-pill btn-outline-primary">Hotels</a>
                        <a href="/User/Restaurants" type="button" class="btn btn-sm rounded-pill btn-outline-primary">Restaurants</a>
                    </td>
                </tr>
                <tr>
                    <td><strong>Gizem Kara</strong></td>
                    <td>Restaurant User</td>
                    <td><span class="badge bg-label-success me-1">Active</span></td>
                    <td>
                        <a href="/User/Details" type="button" class="btn btn-sm rounded-pill btn-outline-primary">Details</a>
                        <a href="/User/Restaurants" type="button" class="btn btn-sm rounded-pill btn-outline-primary">Restaurants</a>

                    </td>
                </tr>
                <tr>
                    <td><strong>Mert Taşbaş</strong></td>
                    <td>Hotel User</td>
                    <td><span class="badge bg-label-success me-1">Active</span></td>
                    <td>
                        <a href="/User/Details" type="button" class="btn btn-sm rounded-pill btn-outline-primary">Details</a>
                        <a href="/User/Hotels" type="button" class="btn btn-sm rounded-pill btn-outline-primary">Hotels</a>


                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="demo-inline-spacing">
        <!-- Basic Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item first">
                    <a class="page-link" href="javascript:void(0);">
                        <i class="tf-icon bx bx-chevrons-left"></i>
                    </a>
                </li>
                <li class="page-item prev">
                    <a class="page-link" href="javascript:void(0);">
                        <i class="tf-icon bx bx-chevron-left"></i>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="javascript:void(0);">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);">2</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="javascript:void(0);">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);">5</a>
                </li>
                <li class="page-item next">
                    <a class="page-link" href="javascript:void(0);">
                        <i class="tf-icon bx bx-chevron-right"></i>
                    </a>
                </li>
                <li class="page-item last">
                    <a class="page-link" href="javascript:void(0);">
                        <i class="tf-icon bx bx-chevrons-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!--/ Basic Pagination -->
    </div>
</div>
