@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-3">
    <h4 class="card-header">Nusret Steak House</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <a href="/Restaurant/NewProduct/5" type="button" class="btn btn-outline-primary">New Product</a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("PartialViews/ProductList")
