<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Slider</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/hamburger.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Burger</h5>
                    </div>
                </a>
            </div>
            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/pizza.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Pizza</h5>
                    </div>
                </a>
            </div>
            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/beer.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Beer</h5>
                    </div>
                </a>
            </div>
            <div class="col-3 mb-2 custom-category">
                <a routerLink="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/pasta.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Pasta</h5>
                    </div>
                </a>
            </div>

            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/beer.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Beer</h5>
                    </div>
                </a>
            </div>
            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/hamburger.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Burger</h5>
                    </div>
                </a>
            </div>
            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/pasta.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Pasta</h5>
                    </div>
                </a>
            </div>
            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/pizza.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Pizza</h5>
                    </div>
                </a>
            </div>

            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/pasta.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Pasta</h5>
                    </div>
                </a>
            </div>
            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/beer.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Beer</h5>
                    </div>
                </a>
            </div>
            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/pizza.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Pizza</h5>
                    </div>
                </a>
            </div>
            <div class="col-3 mb-2 custom-category">
                <a href="/shop/5">
                    <div class="card bg-white text-white p-2">
                        <img class="card-img" height="65" src="../../../assets/img/hamburger.png" alt="Card image">
                        <h5 class="card-title text-black text-center">Burger</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>