@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="../assets/img/icons/unicons/chart-success.png"
                             alt="chart success"
                             class="rounded" />
                    </div>
                </div>
                <span class="fw-semibold d-block mb-1">Total Hotels</span>
                <h3 class="card-title mb-2">370</h3>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="../assets/img/icons/unicons/chart.png"
                             alt="chart success"
                             class="rounded" />
                    </div>
                </div>
                <span class="fw-semibold d-block mb-1">Total Restaurant</span>
                <h3 class="card-title mb-2">200</h3>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="../assets/img/icons/unicons/chart-success.png"
                             alt="chart success"
                             class="rounded" />
                    </div>
                </div>
                <span class="fw-semibold d-block mb-1">Total Order</span>
                <h3 class="card-title mb-2">137</h3>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="../assets/img/icons/unicons/wallet.png"
                             alt="chart success"
                             class="rounded" />
                    </div>
                </div>
                <span class="fw-semibold d-block mb-1">Last Month Profit</span>
                <h3 class="card-title mb-2">₺15.375</h3>
            </div>
        </div>
    </div>
</div>

@Html.Partial("PartialViews/OrderList")
@Html.Partial("PartialViews/TransferList")
@Html.Partial("PartialViews/LastActivities")
