@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Hotel New Product</h5>
                @*<small class="text-muted float-end">Default label</small>*@
                <div class="form-check form-switch mb-2 float-end">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                    <label class="form-check-label" for="flexSwitchCheckChecked">Is Active?</label>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Restaurant</label>
                        <select class="form-select form-control">
                            <option selected>Restaurant</option>
                            <option value="1">Nusret</option>
                            <option value="2">Midpoint</option>
                            <option value="3">Mc Donals</option>
                            <option value="4">Hüsrev</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Restaurant Products</label>
                        <select class="form-select form-control">
                            <option selected>Restaurant Products</option>
                            <option value="1">Beef Steak</option>
                            <option value="2">Chicken Burger</option>
                            <option value="3">Coca cola</option>
                            <option value="4">Water</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Category</label>
                        <select class="form-select form-control">
                            <option selected>Select Category</option>
                            <option value="1">Meat</option>
                            <option value="2">Chicken</option>
                            <option value="3">Fish</option>
                            <option value="4">Sweet</option>
                            <option value="5">Drink</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-email">Price (₺)</label>
                        <div class="input-group input-group-merge">
                            <input class="form-control" type="number" value="50" id="html5-number-input">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-email">Discount Rate (%)</label>
                        <div class="input-group input-group-merge">
                            <input class="form-control" type="number" value="20" id="html5-number-input">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
