<!-- <section class="px-2 mt-2">
    <h5>Hamburgers</h5>
    <div class="container">
        <div class="row">
            <div class="card mb-3">
                <div class="card-img">
                    <img src="https://dummyimage.com/100x100/000/dc3545" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="">Bufalo Burger</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text...</p>
                    <a href="#" class="btn btn-danger addCartButton">Add to cart</a>
                </div>
            </div>
            
        </div>
    </div>
</section> -->

<div class="container pt-3">
    <h5>Hamburgers</h5>
    <a href="/shop-details/5">
        <div class="card flex-row flex-wrap mt-3 mb-3">
            <div class="card-header border-0">
                <img src="//placehold.it/100" alt="">
            </div>
            <div class="card-block">
                <h4 class="card-title mt-1">Buffalo Burger</h4>
                <p class="card-text text-success"><strong>₺125</strong></p>
                <a href="/cart" class="btn btn-none addCartButton mb-1">
                    <i class="fa-solid fa-square-plus fa-2xl text-success"></i></a>
            </div>
            <div class="w-100"></div>
            <div class="card-footer w-100 text-muted">
                Lorem ipsum dumy text this here...
            </div>
        </div>
    </a>
    <a href="/shop-details/5">
        <div class="card flex-row flex-wrap mt-3 mb-3">
            <div class="card-header border-0">
                <img src="//placehold.it/100" alt="">
            </div>
            <div class="card-block">
                <h4 class="card-title mt-1">Buffalo Burger</h4>
                <p class="card-text text-success"><strong>₺125</strong></p>
                <a href="/cart" class="btn btn-none addCartButton mb-1">
                    <i class="fa-solid fa-square-plus fa-2xl text-success"></i></a>
            </div>
            <div class="w-100"></div>
            <div class="card-footer w-100 text-muted">
                Lorem ipsum dumy text this here...
            </div>
        </div>
    </a>
    <a href="/shop-details/5">
        <div class="card flex-row flex-wrap mt-3 mb-3">
            <div class="card-header border-0">
                <img src="//placehold.it/100" alt="">
            </div>
            <div class="card-block">
                <h4 class="card-title mt-1">Buffalo Burger</h4>
                <p class="card-text text-success"><strong>₺125</strong></p>
                <a href="/cart" class="btn btn-none addCartButton mb-1">
                    <i class="fa-solid fa-square-plus fa-2xl text-success"></i></a>
            </div>
            <div class="w-100"></div>
            <div class="card-footer w-100 text-muted">
                Lorem ipsum dumy text this here...
            </div>
        </div>
    </a>
    <a href="/shop-details/5">
        <div class="card flex-row flex-wrap mt-3 mb-3">
            <div class="card-header border-0">
                <img src="//placehold.it/100" alt="">
            </div>
            <div class="card-block">
                <h4 class="card-title mt-1">Buffalo Burger</h4>
                <p class="card-text text-success"><strong>₺125</strong></p>
                <a href="/cart" class="btn btn-none addCartButton mb-1">
                    <i class="fa-solid fa-square-plus fa-2xl text-success"></i></a>
            </div>
            <div class="w-100"></div>
            <div class="card-footer w-100 text-muted">
                Lorem ipsum dumy text this here...
            </div>
        </div>
    </a>
    <a href="/shop-details/5">
        <div class="card flex-row flex-wrap mt-3 mb-3">
            <div class="card-header border-0">
                <img src="//placehold.it/100" alt="">
            </div>
            <div class="card-block">
                <h4 class="card-title mt-1">Buffalo Burger</h4>
                <p class="card-text text-success"><strong>₺125</strong></p>
                <a href="/cart" class="btn btn-none addCartButton mb-1">
                    <i class="fa-solid fa-square-plus fa-2xl text-success"></i></a>
            </div>
            <div class="w-100"></div>
            <div class="card-footer w-100 text-muted">
                Lorem ipsum dumy text this here...
            </div>
        </div>
    </a>
</div>