<section class="px-2 mt-2">
    <h5>Hamburgers</h5>
    <div class="container">
        <div class="row">
            <div class="card mb-3">
                <div class="card-img">
                    <img src="https://dummyimage.com/100x100/000/dc3545" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="">Bufalo Burger</h5>
                    <h4 class="card-title">₺120</h4>
                    <!-- <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting.</p> -->
                    <a href="#" class="btn btn-danger addCartButton">Add to cart</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-img">
                    <img src="https://dummyimage.com/100x100/000/dc3545" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="">Chesee Burger</h5>
                    <h4 class="card-title">₺120</h4>
                    <!-- <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting.</p> -->
                    <a href="#" class="btn btn-danger addCartButton">Add to cart</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-img">
                    <img src="https://dummyimage.com/100x100/000/dc3545" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="">Biber Burger</h5>
                    <h4 class="card-title">₺120</h4>
                    <!-- <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting.</p> -->
                    <a href="#" class="btn btn-danger addCartButton">Add to cart</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-img">
                    <img src="https://dummyimage.com/100x100/000/dc3545" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="">Special Burger</h5>
                    <h4 class="card-title">₺120</h4>
                    <!-- <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting.</p> -->
                    <a href="#" class="btn btn-danger addCartButton">Add to cart</a>
                </div>
            </div>
            
        </div>
    </div>
</section>