@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-3">
    <h4 class="card-header">Dedeman Istanbul Hotel</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <a href="/Hotel/NewMenu/5" type="button" class="btn btn-outline-primary">New Menu</a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("PartialViews/MenuList")
